header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 42px 34px;
}

header div {
    display: flex;
    justify-content: start;
    align-items: center;
}

header h2 {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    color: var(--red-color);
    margin: 0;
}

h2.title {
    position: relative;
    font-weight: 900;
}

h2.title:before {
    position: absolute;
    left: 0;
    top: 32px;
    height: 4px;
    width: 54px;
    content: '';
    background-color: var(--red-color);
}

@media (max-width: 700px) {
    header {
        margin: 12px 42px 18px;
    }

    header h2 {
        font-size: 16px;
        line-height: 19px;
    }

    header > h2 {
        display: none;
    }

    h2.title:before {
        top: 22px;
        height: 2px;
    }
}

@media (max-width: 320px) {
    header {
        margin: 12px 21px 18px;
    }
}