@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap');

:root {
    --red-color: #D42026;
}

*, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
    height: 100vh;
}