.pagination {
    flex-grow: 1;
    margin: 16px 0 28px;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    cursor: pointer;
}

.arrow-left {
    border-right: 12px solid var(--red-color);
    margin-right: 2px;
}

.arrow-right {
    border-left: 12px solid var(--red-color);
    margin-left: 2px;
}

.arrow.disabled {
    pointer-events: none;
    opacity: .5;
}

#pages {
    display: flex;
}

.page-number {
    width: 42px;
    height: 42px;
    background-color: #FFFFFF;
    color: var(--red-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 10px;
    border: 1px solid var(--red-color);
    border-radius: 100%;
    cursor: pointer;
}

.page-number.active {
    color: #FFFFFF;
    background-color: var(--red-color);
}

.default-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .pagination {
        margin: 18px 30px 36px;
    }

    .arrow-left {
        margin-right: 50px;
    }

    .arrow-right {
        margin-left: 50px;
    }
}